<h1>This seasons Contestants are </h1>

<% @bachelorette.contestants.each do |contestant| %>
  <h3>Name: <%= contestant.name %></h3>
  <p>Age: <%= contestant.age %></p>
  <p>Hometown: <%= contestant.hometown %></p>
<% end %>