<h1>This seasons Contestants are </h1>

<% @bachelorette.contestants.each do |contestant| %>
  <h3>Name: <%= link_to "#{contestant.name}", contestant %></h3>
  <p>Age: <%= contestant.age %></p>
  <p>Hometown: <%= contestant.hometown %></p>
<% end %>

<h3>Unique Hometowns</h3>
<div id="hometown">
    <% @bachelorette.list_hometown.each do |contestant| %>
      <li><%= contestant.hometown %></li><br>
    <% end %>
</div>